* {
    border: 0;
    margin: 0;
}

.background {

    border-top: 5px;
    margin: 5px;
}

.container-top {

    width: 1500px;
    position: relative;
}

.ps4 {
    background-image: url('https://i.ytimg.com/vi/2ZfzbnueaPI/maxresdefault.jpg');
    position: relative;
    height: 300px;
    width: 400px;
    background-size: contain;
    object-fit: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.xbox {
    background-image: url('https://i.ytimg.com/vi/1pqlHxiCAQk/maxresdefault.jpg');
    position: relative;
    height: 300px;
    width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.nintendo {
    background-image: url('https://i.ytimg.com/vi/rlSdNuE5pJo/maxresdefault.jpg');
    position: relative;
    height: 300px;
    width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.discount {
    background-color: red;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0px;
    top: 0px;
}
